<ion-view view-title="Novo Usuário">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="padding-vertical register" ng-class="contentBg">
        <form name="formRegister" ng-submit="registar()" ng-hide="contentBg">
            <div class="col-33 col-offset-33 text-center">
                <h1 class="select-picture" ng-click="choosePicture()" style="background-image:url('{{formData.picture}}'); background-position:center center; background-size:cover;">
                    <span class="icon ion-ios-camera-outline" ng-hide="formData.picture"></span>
                </h1>
                Escolha uma foto
            </div>
            <div class="list">
                <div class="list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios-person-outline placeholder-icon"></i>
                        <input type="text" placeholder="Nome" ng-model="formData.name" name="name" required>
                        <small ng-show="formRegister.name.$invalid && formRegister.name.$touched" class="assertive">
                            Campo Obrigatório
                        </small>
                    </label>
                </div>
                <div class="list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios-person-outline placeholder-icon"></i>
                        <input type="text" placeholder="Sobrenome" ng-model="formData.lastname" name="lastname" required>
                        <small ng-show="formRegister.lastname.$invalid && formRegister.lastname.$touched" class="assertive">
                            Campo Obrigatório
                        </small>
                    </label>
                </div>
                <div class="list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios-email-outline placeholder-icon"></i>
                        <input type="email" placeholder="Email" ng-model="formData.email" name="email" required>
                        <small ng-show="formRegister.email.$invalid && formRegister.email.$touched" class="assertive">
                            Campo Obrigatório
                        </small>
                    </label>
                </div>
                <div class="list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                        <input type="password" placeholder="Senha" ng-model="formData.password" name="password" required>
                        <small ng-show="formRegister.password.$invalid && formRegister.password.$touched" class="assertive">
                            Campo Obrigatório
                        </small>

                    </label>
                </div>
                <div class="list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
                        <input type="password" placeholder="Confirmar Senha" ng-model="formData.password2" name="password2" data-password-verify="formData.password" required>
                        <small ng-show="(formRegister.password2.$invalid || formRegister.password2.$error.passwordVerify) && formRegister.password2.$touched" class="assertive">
                            As senhas não são iguais!
                        </small>
                    </label>
                </div>
                <div class="list-inset">
                    <label class="item item-input">
                        <i class="icon ion-ios-location-outline placeholder-icon"></i>
                        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="formData.city" item-view-value-key="formatted_address" items-method="getAddressSuggestions(query)" placeholder="Cidade, UF" max-selected-items="1" cancel-label="Cancelar" select-items-label="Selecione uma cidade" />
                    </label>
                </div>
                <div class="list-inset">
                    <label class="item item-input" ng-click="openDatePicker()">
                        <i class="icon ion-ios-calendar-outline placeholder-icon"></i>
                        <span class="placeholder">{{birthday_display}}</span>
                    </label>
                </div>

                <div class="list-inset">
                    <ion-checkbox ng-model="formData.termos" required class="item-text-wrap">Concordo que aceito e li as Políticas de Privacidade e Termos de uso</ion-checkbox>
                </div>
            </div>

            <div class="padding">
                <button class="button button-block button-assertive" ng-disabled="formRegister.$invalid">OK</button>
            
            </div>

        </form>

    </ion-content>
</ion-view>
